@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  color-scheme: dark;
}

.hide-scroll-bar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.prevent-selector {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.jigsaw-bg {
  background-color: black;
  background-image: url('/turing/jigsaw.svg');
}

.summit-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  size: cover;
  background-image: url('/summit/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.summit-font {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.summit-frame {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(rgb(59, 69, 148), rgb(175, 49, 65)) 1;
  @apply w-full lg:w-[36rem]
}

.summit-button {
  @apply min-w-48 outline-none font-bold text-lg bg-black border-2 border-red-500 text-red-500 rounded-sm hover:bg-red-500 hover:text-black transition-colors
}

.summit-button:disabled {
  @apply bg-gray-900 text-red-800 border-red-800
}

.ai-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  size: cover;
  background-image: url('/summit/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}



.general-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@font-face {
  font-family: 'starjedi';
  src: url('/fonts/starjedi.ttf') format('truetype');
}

@font-face {
  font-family: 'starout';
  src: url('/fonts/starout.ttf') format('truetype');
}

.sw-frame {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(rgb(251, 191, 36), rgb(245, 191, 51)) 1;
  @apply w-full lg:w-[36rem]
}

.sw-button {
  @apply w-48 outline-none font-starjedi bg-black border-2 border-yellow-400 text-yellow-400 rounded-sm hover:bg-yellow-400 hover:text-black transition-colors
}

.sw-button:disabled {
  @apply bg-gray-900 text-yellow-800 border-yellow-800
}

.sw-jedi-button {
  @apply outline-none font-starjedi bg-black border-2 border-blue-400 text-blue-400 rounded-sm hover:bg-blue-400 hover:text-black transition-colors
}

.sw-sith-button {
  @apply outline-none font-starjedi bg-black border-2 border-red-400 text-red-400 rounded-sm hover:bg-red-400 hover:text-black transition-colors
}

